Converting an Integer into Decimals

In [4]:
num = 10
print(num/100)
#Or 
import decimal
integer = 10
print(decimal.Decimal(integer))
print(type(decimal.Decimal(integer)))

0.1
10
<class 'decimal.Decimal'>

Converting an String of Integers into Decimals

In [6]:
import decimal
string = '1234'
print(decimal.Decimal(string))
print(type(decimal.Decimal(string)))

1234
<class 'decimal.Decimal'>

Reversing a String using an Extended Slicing Technique

In [32]:
string = 'Gaurav'
for i in range(len(string), 0, -1):
    #print(i)
    result=string[i-1]
    print(result,end='')
print("\n 2nd")
# another techniques
name = 'python programing'
print(name[::-1])

varuaG
 2nd
gnimargorp nohtyp

Counting Vowels in a Given Word

In [44]:
vovels = ['a', 'e', 'i', 'o', 'u']
word = 'Gaurav'
count = 0
for i in word:
    if i in vovels:
        count += 1
    else:
        print('No vovels')
    # result = word[i]
    # count += 1
print(count)

No vovels
No vovels
No vovels
3

Counting Consonants in a Given Word

In [46]:
vovels = ['a', 'e', 'i', 'o','u']
words = 'Gaurav'
count = 0
for i in words:
    if i not in vovels:
        count += 1
print(count)

3

Counting the Number of Occurances of a Character in a String

In [47]:
string = 'Gaurav'
occurances = 'a'
count = 0
for i in string:
    if i is occurances:
        count += 1
print(count)

2

Writing Fibonacci Series

In [64]:
number = 10
a = 0
b = 1
for i in range(number):
    c = a + b
    a = b
    b = c
    print(i ,'=',c)

0 = 1
1 = 2
2 = 3
3 = 5
4 = 8
5 = 13
6 = 21
7 = 34
8 = 55
9 = 89

In [62]:
fib = [0, 1]
# Range starts from 0 by default 
for i in range(5):
    fib.append(fib[-1] + fib[-2])
# converting the list of integers to string 
print(', '.join(str(e) for e in fib))

0, 1, 1, 2, 3, 5, 8

Finding the Maximum Number in a List

In [72]:
num = [1,2,3,4,5,6,7]
maxnum = num[0]
for i in l:
    if maxnum < i:
        maxnum = i
print(maxnum)

7

Finding the Minimum Number in a List

In [75]:
number = [12, 13, 3, 24]
minimum = number[0]
for i in number:
    if minimum >i:
        minimum = i
print(minimum)

3

1) User will input 3 ages. Find the odlest one

In [4]:
age1 = 20
age2 = 30
age3 = 18
if age1 < age2 and  age1 < age3:
    print('age1 is oldest')
elif age2<age3:
    print('age2 is oldest')
else:
    print('age3 is oldest')

age3 is oldest

2) Write a program that will convert celscius value to farenheit

In [ ]:
# value=
# farenheit_value =

3) User input (2numbers).write a program to swap the numbers

In [13]:
num1 = 2
num2 = 3
# program swap the number
def swap_numbers(num1, num2):
    temp = num1
    num1 = num2
    num2 = temp
    return num1, num2
swap_number1, swap_number2 = swap_numbers(num1, num2)
print("1st num", swap_number1)
print("2nd num", swap_number2)

1st num 3
2nd num 2

4) write a program thet will give you the sum of 3 digits

In [48]:
three_digit_num = 232
num_sum = 0
num1 = str(three_digit_num)[0]  
num2 = str(three_digit_num)[1] 
num3 = str(three_digit_num)[2]
number = int(num1) + int(num2) + int(num3)
print(number)

7

5) write a program that will reverse a four digit number. Also it checks whether the reverse is true

In [82]:
number = 4543
n =len(str(number))
for i in range(n, 0, -1):
    # print(i)
    reverse = str(number)[i-1]
    result = int(reverse)

6) write a program that will tell whether the number entered by user is odd or even

In [9]:
number = 220
def check_num(number):
    if number%2 == 0:
        result = 'user number is even'
    else:
        result = 'given number is odd'
    return result
result = check_num(number)
print(result)

user number is even

7) write a program that tell whether the given year is leap or not

In [39]:
year = 2032
def leap_year(year):
    if year % 4 == 0:
        result = 'year is leap'
    elif year % 100 == 0 :
        result = 'year is leap'
    elif year % 400 == 0:
        result = 'year is leap'   
    else:
        result = 'year is not leap'
    return result
rsult = leap_year(year)
print(rsult)

year is leap

8) write a program to find a euclidean distance between two coordinate

In [42]:
import numpy as np 
# coordinate1
x1, y1 = 2,3
x2, y2 = 4,10
# distance formula 
def euclidean_dist(x1, x2, y1, y2):
    result = ((x2-x1)^2)-((y2-y1)^2)
    return result 
print(euclidean_dist(x1, x2, y1, y2))

-5

In [48]:
# # 2 cordinate distance 
# point1 = 2
# point2 = 4
# distance = 0
# for i in range(len(point1)):
#     distance += (point2[i] - point1[i])**2
#     result = np.sqrt(distance)

9) write a program that take a user input of three anglea and find out whether it can for a triangle or not.

In [51]:
angle1 = 60 
angle2 = 60 
angle3 = 60 
sum_angle = angle1 + angle2 + angle3 
if sum_angle == 180:
    print('It is triangle')
else:
    print('It is not triangle')

It is triangle

10) Write a program that will take user input of cost price and selling price and determines wheather it loss of profit.

In [54]:
cost_price = 800
selling_price = 1000
if selling_price > cost_price :
    print('Profit')
else:
    print('Loss')

Profit

11) Write a program to find the simple interest when the value of principle, rate of interest and time period is given

In [57]:
Principle = 1000
rate = 2
time = 10
def simple_interest(Principle, rate, time):
    simple_interest = (Principle * rate * time) / 100
    return simple_interest
result = simple_interest(Principle, rate, time)
print(result)

200.0

12) Write a program to find the volume of cylinder. Also find the cost when, when the cost of litre milk is 40Rs.

In [65]:
# volume of cylinder pie*r^2*h
import numpy as np
radius = 10
height = 6
volume = np.pi*(radius^2)*height
print('Volume=',volume)
# cost 
litre_cost = 40
cost = volume*litre_cost
print('cost=',cost)

Volume= 150.79644737231007
cost= 6031.857894892402

13) Write a program to that will tell whether the given number is divisible by 3 and 6

In [68]:
number = 10 
if number%3 and number%6:
    r = 'yes'
else:
    r = 'no'
print(r)

yes

16) Write a program that will determine weather when the value of temprature and humidity  is provided by users

In [10]:
Temprature = 29
humidity = 80
# determine wheather
def weather(Temprature, humidity):
    if Temprature >= 30 and  humidity >= 90:
        return  print('Hot and Humid')
    elif Temprature >= 30 and humidity < 90:
        return  print('Hot')
    elif Temprature > 30 and humidity <= 90 :
        return print('cool and humid')
    elif Temprature < 30 and humidity < 90:
        return print('Cool')
    else:
        return 'False Temprature'

ans = weather(Temprature, humidity)
print(ans)

Cool
None

17) write a program that will check whether the number is armstrong number or not.

In [18]:
# num = 123
# order = len(str(num))
# def check_armstrong(num):
#     result = 0
#     temp = order 
#     while num>0:
#         digit = temp % 10 
#         sum += digit**order
#         temp //= 10
#         return sum == num
# if ckeck_armstrong(num):
#     print('yes')
# else :
#     print('No')

19) Write a program that will take user input of(4 digits number) and ckeck wheather the number is narcissiast number or not

20) Write a program that will give you the in hand salary after deduction of HRA(10%), DA(5%), PF(3%), and tax(if salary is 5-10lakh - 10%), (11-20lakhs-20%),(20<_ - 30%)(0-1lakhs print k)

In [73]:
# Salary
salary = 100000
# Deduction
def deduction(salary):
    # HRA (10%)
    HRA1_deduction = salary*1/100
    HRA_deduction = salary - HRA1_deduction
    # DA
    DA1_deduction = HRA_deduction*5/100
    DA_deduction = salary - DA1_deduction
    # PF
    PF1_deduction = DA_deduction*3/100
    PF_deduction = salary - PF1_deduction
    return PF_deduction
#print(deduction(salary))
# tax
def tax_deduction(salary):
    if 500000 < salary <100000:
        result1 = salary*10/100
        return salary - result1
    elif 1100000 < salary < 200000:
        result2 = salary*30/100
        return salary - result2
    elif 200000 < salary:
        result3 = salary*30/100
        return salary - result3
    elif 0 < salary < 100000:
        return salary - 1000
    else:
        return 0
    return 

deduction = deduction(salary)
tax_deduction = tax_deduction(salary)
final_amount = salary - (float(deduction) - float(tax_deduction))
print('final amount:-', final_amount)

final amount:- 2851.5

21)  Write menu driven programms- 1) 1cm to ft 2) kl to miles 3) usd to inr 4) exist

In [79]:
# Menu driven programs
no1 = 1
def cm_to_ft(no1):
    conversion1 = no1/30.48
    conversion2 = no1/1.6093
   
    return conversion1,conversion2
print(cm_to_ft(no1))

(0.03280839895013123, 0.6213881811967936)

22. Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

In [37]:
# user input total heads and legs 
heads = 12
legs = 44
# create a function identify dogs and chicken 
# x +  y = heads # x = dogs, y = chicken
# 4x + 2y = legs
def dogs_and_chicken(heads, legs):
    x = (legs - 2* heads) / 2
    y = heads - x
    # print(f"Total dogs- {int(x)}")
    # print(f"Total legs- {int(y)}")
    if x >= 0 and y >= 0 and x.is_integer() and y.is_integer():
        return int(x), int(y)
    else:
        return None, None 
# find no dogs and chicken 
dogs, chicken = dogs_and_chicken(heads, legs)
if heads  is not None and chicken is not None :
    print(f"Total no of dogs--{dogs}")
    print(f"Total no of chickens--{chicken}")
else:
    print('No valid solution found')

Total no of dogs--10
Total no of chickens--2

23) Write a program that will swap numbers

In [46]:
no1 = 2
no2 = 4
def swap_no(no1, no2):
    temp = no1
    no1 = no2
    no2 = temp
    return no1, no2
# swap no 
no3, no4 = swap_no(no1, no2)
print(f"original No{no1,no2}\n swap No-{no3,no4}")

original No(2, 4)
 swap No-(4, 2)

24) Write a program to find the sum of first n numbers, where n will be provided by the user. Eg if the user provides n=10 the output should be 55.

In [57]:
# find sum of n numbers 
# n is given 
n = 10
output = 0
# sum of n number 
for i in range(n+1):
    output += i 
print(f"sum of n numbers-{output}")

sum of n numbers-55

25) Write a program that can multiply 2 numbers provided by the user without using
the * operator

In [65]:
import numpy as np
no1 = 2
no2 = 2
np.multiply(no1, no2)

4

26) Write a program that can find the factorial of a given number provided by the
user.

In [30]:
factorial = 4

# factorial
def fact(factorial):
    for i in range(1,factorial+1):
        factorial  *= i 
    return factorial
# 
ans = fact(factorial)
print(ans)

96

27) Write a program to print the first 25 odd numbers

In [12]:
n = 50
for i in range(1,n):
    if i%2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

28) Write a program to print whether a given number is prime number or not

In [18]:
n = 3
def check_no(n):
    if n%2 != 0:
        a = 'Number is prime'
    else:
        a = 'Number is not prime'
    return a

result = check_no(n)
print(result)

Number is prime

29) Print all the armstrong numbers in the range of 100 to 1000.